body #selector-popup-loader {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%; /* Set the final height here */
  margin: 0;
  padding: 0;
  z-index: 1134;
  opacity: .97;

  transition-property: transform !important;
  transition-duration: 0.5s !important;
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1) !important;
  
  /* Start the element fully pushed down below the screen */
  transform: translateY(100%); 
  -webkit-transform: translateY(100%);

  background: var(--bs-body-color);
}

#selector-popup-header {
  text-align: right;
}
#selector-popup-header a#selector-popup-closer {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
#selector-popup-header a#selector-popup-closer, 
#selector-popup-header a#selector-popup-closer i {
  color: var(--bs-gray-200);
  /*color: #fff;*/
}

body #selector-popup-loader.active {
  transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
}

a.slim-select,
.slim-selector-trigger {
  cursor: pointer;
}

body #selector-popup-loader iframe#selector-popup {
  width: 100%;
  height: 100%;
  border: 0;
}